body{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h2,h3{
    color: grey;
    text-align: center;   
    font-family: "PT Sans Narrow";
}
h1{
    margin-bottom: 50px;
}
img{
    height:200px;
    width:200px;
    border-radius:50%;
    
}
a{
    text-decoration: none;
    color:tomato
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
li{
    margin: 10px;
}
nav{
    display:flex;
    background-color: rgb(46, 56, 56);
    justify-content: center;
    flex-direction: row;
}
.nav-header{
color:aliceblue;
font-size: 40px;
}
.nav-content{
    display: flex;
    justify-content: right;
}
footer{
    padding: 15px;
    background-color: rgb(46, 56, 56);
}
input{
    margin-bottom: 15px;
}
form{
    margin: auto;
    display: flexbox;
    padding: 40px;
    border-style: dotted;
    height: 390px;
    width:400px;
}